<%- include('header'); %>

<%- include('navbar', {active: active}); %>

<div class="container-fluid">
    <div class="card-columns">

        <%- include('note-card'); -%>

    </div>
</div>
<%- include('footer'); -%>
