<%- include('header'); %>
<div class="container">
    <h1 class="text-center pt-5 title" id="title">NoteKeeper</h1>

    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-box" class="col-md-6 text-center mt-5">
            <h3 class="title mt-3">Login</h3>
            <% if (messages.error)  { %>
                <div class="alert alert-danger" role="alert">
                    <%= messages.error %>
                </div>
            <% } %>
            <form action="/auth/login" method="POST">
                <div class="form-group mt-4">
                    <input type="text" name="username" class="form-control" id="usernameInput" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="form-group align-items-center">
                    <button type="submit" class="btn submit" id="submit" onclick="">Login</button>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col text-left">
                            <a href="/auth/register">Not a Member? Register Here!</a>
                        </div>
                        <div class="col text-right">
                            <a href="/auth/forgotPassword">Forgot Password?</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('footer'); -%>
