body {
    margin: 0;
    padding: 0;
    background-color: #79C99E;
    height: 100vh;
}

.title{
    color: #4D5359;
}

#login-box{
    background-color: white;
    -webkit-box-shadow: 0px 0px 20px -4px rgba(77,83,89,0.82);
    -moz-box-shadow: 0px 0px 20px -4px rgba(77,83,89,0.82);
    box-shadow: 0px 0px 20px -4px rgba(77,83,89,0.82);
}

#submit{
    background-color: #739154;
}

.note{
    background-color: white;
    margin-left: 0.6em;
    margin-top: 0.6em;
    padding: 0;
    -webkit-box-shadow: 0px 0px 20px -4px rgba(77,83,89,0.82);
    -moz-box-shadow: 0px 0px 20px -4px rgba(77,83,89,0.82);
    box-shadow: 0px 0px 20px -4px rgba(77,83,89,0.82);
}

.note-text{
    border-top: 1px solid #4D5359;
}

.tag{
    color: #739154;
}

.tag:hover{
    color: #5F7745;
}

.actions{
    border-top: 1px solid #4D5359;
}

.edit-icon{
    color: #4D5359
}

.edit-icon:hover{
    color: #4D5359
}

.taglist{
    margin-top: 100%;
}

.bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}

a{
    color: #4D5359;
}
